
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 108rem;
}.responsive-K7W {
  height: 120rem;
  overflow: hidden;
  position: relative;
  background: linear-gradient(-141.63deg, #012500 -400.32%, #046602 480.43%);
  box-sizing: border-box;
  padding: 3rem 2.1rem;
  width: 100%;

  .main-v1-WBz {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 110.45rem;

    .auto-group-mvtv-HEg {
      box-sizing: border-box;
      padding: 0rem 1.5rem 3.6rem 1.4rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .name-profile-group-azU {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin-bottom: 2.4rem;
        width: 100%;

        .auto-group-cywz-sig {
          margin-right: 22.6rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .group-1-aNC {
            box-sizing: border-box;
            padding: 2.3rem 1.25rem 2.4rem 1.25rem;
            background-color: #275626;
            border-radius: 3rem;
            flex-shrink: 0;
            margin-bottom: 3.2rem;
            width: 40.3rem;
            height: 10rem;
            border: solid 0.1rem #012700;

            .name-text-uBW {
              width: 35.35rem;
              height: 100%;
              position: relative;

              .archit-Eja {
                position: absolute;
                left: 20.55rem;
                top: 0.4rem;
                font-size: 4rem;
                font-weight: 400;
                line-height: 1.2125;
                color: #00ff76;
                height: 4.9rem;
                font-family: Inter, 'Source Sans Pro';
                text-align: center;
                white-space: nowrap;
                width: 14.8rem;
              }
              .item--BYL {
                width: 21.7rem;
                height: 4.9rem;
                position: absolute;
                left: 0;
                top: 0;
                text-align: center;
                font-size: 4rem;
                line-height: 1.2125;
                font-weight: 400;
                color: #00ff76;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .full-stack-android-app-developer-firebase-developer-cNk {
            line-height: 1.115;
            color: #00ff76;
            font-family: Comfortaa, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 55.5rem;
            font-size: 4rem;
            font-weight: 700;
          }
        }
        .archit-profile-photo-1-KY4 {
          border: solid 0.1rem #023601;
          box-sizing: border-box;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:df9a1c679a1333b59bfa36a3448816ff0edaed87');
          width: 22.8rem;
          height: 27.1rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-position: center;
          border-radius: 6rem;
          flex-shrink: 0;
        }
      }
      .aim-ktG {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4rem;
        font-weight: 400;
        color: #00ff76;
        font-family: Rubik, 'Source Sans Pro';
        line-height: 1.185;
        white-space: nowrap;
      }
    }
    .marabhu-app-banners-VL4 {
      padding-top: 0.3rem;
      display: flex;
      border-radius: 2rem;
      flex-shrink: 0;
      margin-bottom: 4.2rem;
      box-sizing: border-box;
      width: 100%;
      height: 35.8rem;
      align-items: flex-end;

      .auto-group-osr6-CVN {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 20.6rem;

        .creator-marabhu-android-app-hBE {
          display: flex;
          line-height: 1.115;
          font-family: Comfortaa, 'Source Sans Pro';
          margin-bottom: 1.5rem;
          max-width: 51.1rem;
          font-size: 4rem;
          font-weight: 400;
          color: #00ff76;
          flex-shrink: 0;

          .creator-marabhu-android-app-hBE-sub-0 {
            font-size: 4rem;
            font-weight: 700;
            line-height: 1.115;
            color: #00ff76;
            font-family: Comfortaa, 'Source Sans Pro';
          }
          .creator-marabhu-android-app-hBE-sub-1 {
          }
        }
        .image-1-s7e {
          width: 51.2rem;
          height: 25rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 2rem;
          flex-shrink: 0;
        }
      }
      .marabhuappinstallationandwebsiteposterlightbackground-1-a24 {
        border-radius: 2rem;
        flex-shrink: 0;
        width: 32rem;
        height: 32rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .marabhu-app-about-gKz {
      max-width: 98.2rem;
      font-size: 4rem;
      color: #00ff76;
      flex-shrink: 0;
      margin: 0rem 5.6rem 4.55rem 0rem;
      display: flex;
      font-weight: 700;
      line-height: 1.115;
      font-family: Comfortaa, 'Source Sans Pro';
    }
    .marabhu-app-link-group-aAU {
      margin: 0rem 15.3rem 0rem 15.2rem;
      width: calc(100% - 30.5rem);
      height: 5.7rem;
      position: relative;
      flex-shrink: 0;

      .marabhu-app-link-uCk {
        width: 73.3rem;
        display: flex;
        font-size: 4.8rem;
        font-weight: 700;
        white-space: nowrap;
        height: 5.7rem;
        left: 0;
        align-items: center;
        top: 0;
        color: #00ff76;
        font-family: Rubik, 'Source Sans Pro';
        position: absolute;
        justify-content: center;
        line-height: 1.185;
      }
      .marabhu-app-link-1Wg {
        width: 73.3rem;
        left: 0;
        top: 0;
        align-items: center;
        line-height: 1.185;
        height: 5.7rem;
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 4.8rem;
        font-family: Rubik, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        color: #00ff76;
      }
    }
  }
}
